.section {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 15px;
    background-color: lavender;
    text-align: center;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
}